@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'noto-sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/noto-sans/NotoSans-Light.ttf) format('ttf');
  }

  @font-face {
    font-family: 'pacifico';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(src\assets\font\pacifico\Pacifico-Regular.ttf) format('ttf');
  }
}
